**/BCCrash*.txt
**/*~
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
fixtures/transactions.yml
test/fixtures/transactions.yml
Gemfile.lock
scite.session
/test/*.gen
**/._.DS_Store
**/.DS_Store
**/.directory
