/presentations/SCALE 10x/editing/ui/default/.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
fixtures/transactions.yml
test/fixtures/transactions.yml
test/fixtures/*.yml.gen
Gemfile.lock
scite.session
