  <% if Generic_Table.no_syntax_error?(code) then %>
 <%= render :partial =>"shared/multi-line.html.erb", :locals => { :code => code } %>
  <% else %>
  <PRE>
  <%= Generic_Table.short_error_message(code)  %>
 </PRE>
 <TABLE BORDER=1>
<TH>Line of Code</TH> 
<TH>Single Line Syntax Error</TH> 
 <% code.split(/\n/).map do |l| %>
  <TR>
   <TD>
  <%=  l %>
  </TD>
   <TD>
   <PRE>
  <%= Generic_Table.short_error_message(l)  %>
  </PRE>
  </TD>
   <TD>
  </TD>
 </TR>
  <% end #map %>
</p>
  </TABLE>
  <% end %>
