<p>
  <b>Library:</b>
  <%=h @acquisition_interface.library %>
</p>

<p>
  <b>Acquire data:</b>
  <%=h @acquisition_interface.acquire_data %>
</p>


<%= link_to 'Edit', edit_acquisition_interface_path(@acquisition_interface) %> |
<%= link_to 'Back', acquisition_interfaces_path %>
